<% service_orders.each do |service_order| %>
  <div class="row">
    <div class="span11 well" style="padding-bottom: 0">
      <div class="row">
        <div class="span2 btn-show"><%= link_to "#{service_order.number}", service_order, class: 'btn btn-primary btn-large btn-block' %></div>
        <div class="span3">
          <p class="lead">
            <span class="label">
              <%= service_order.category.name %>
            </span>
            <%= service_order.description %>
          </p>
        </div>
        <div class="span4">
          <% if service_order.category.name == "Callout" %>
            <table class="table table-condensed">
              <tr>
                <th>Total</th>
              </tr>
              <tr>
                <td><%= service_order.total_hours %></td>
              </tr>
            </table>
          <% else %>
            <table class="table table-condensed">
              <tr>
                <th>Total</th>
                <th>Budget</th>
                <th>Remaining</th>
              </tr>
              <tr>
                <td><%= service_order.total_hours %></td>
                <td><%= service_order.budget %></td>
                <td><%= service_order.remaining_hours %></td>
              </tr>
            </table>
          <% end %>
        </div>
        <div class="span2"><%= link_to "Add Confirmation", new_confirmation_url(service_order_id: service_order.id), class: 'btn btn-success btn-large btn-block' %></div>
      </div>
    </div>
  </div>
<% end %>
