<section id="utilization">
  <h3><%= @today.strftime("%b %Y") %> Utilization (<%= @utilization %>%)</h3>
  <div class="progress progress-striped progress-success">
    <div class="bar" style="width: <%= @utilization %>%;"></div>
  </div>
</section>

<%= link_to 'New Service Order', new_service_order_path, class: 'btn btn-large' %>

<section id="open-service-orders">
  <div class="page-header">
    <h3>Open Service Orders</h3>
  </div>

  <%= render 'service_orders', service_orders: @open_service_orders %>
</section>

<%= link_to 'Closed Service Orders', "#", class: 'btn btn-large', id: 'toggle-closed-service-orders' %>

<section id="closed-service-orders">
  <div class="page-header">
    <h3>Closed Service Orders</h3>
  </div>

  <%= render 'service_orders', service_orders: @closed_service_orders %>
</section>
