<h1>Service Order #<%= @service_order.number %></h1>

<p>
  <b>Description:</b>
  <%= @service_order.description %>
</p>

<p>
  <b>Category:</b>
  <%= @service_order.category.name %>
</p>

<p>
  <b>Budget:</b>
  <%= @service_order.budget %>
</p>

<p>
  <b>User:</b>
  <%= @service_order.user.full_name %>
</p>

<h3>Confirmations</h3>

<%= link_to "Add Confirmation", new_confirmation_url(service_order_id: @service_order.id), class: 'btn btn-large btn-success' %>

<table class="table table-striped table-hover">
  <tr>
    <th>Number</th>
    <th>Performed on</th>
    <th>Travel hours</th>
    <th>Straight hours</th>
    <th>Overtime hours</th>
    <th>Doubletime hours</th>
    <th>Description</th>
  </tr>

<% @service_order.confirmations.each do |confirmation| %>
  <tr>
    <td><%= link_to confirmation.number, confirmation, class: 'btn btn-primary' %></td>
    <td><%= confirmation.performed_on %></td>
    <td><%= confirmation.travel_hours %></td>
    <td><%= confirmation.straight_hours %></td>
    <td><%= confirmation.overtime_hours %></td>
    <td><%= confirmation.doubletime_hours %></td>
    <td><%= confirmation.description %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_service_order_path(@service_order), class: 'btn btn-warning' %>
<%= link_to 'Destroy', edit_service_order_path(@service_order), class: 'btn btn-danger' %>
<%= link_to 'Back', service_orders_path, class: 'btn' %>
