<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @service_order.number %>
</p>

<p>
  <b>Description:</b>
  <%= @service_order.description %>
</p>

<p>
  <b>Category:</b>
  <%= @service_order.category_id %>
</p>

<p>
  <b>User:</b>
  <%= @service_order.user_id %>
</p>


<%= link_to 'Edit', edit_service_order_path(@service_order) %> |
<%= link_to 'Back', service_orders_path %>
