<%= simple_form_for @confirmation, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :service_order_id, as: :hidden %>
    <%= f.input :number %>
    <%= f.input :performed_on %>
    <%= f.input :description, input_html: { :rows => 2 } %>
    <%= f.input :travel_hours %>
    <%= f.input :straight_hours %>
    <%= f.input :overtime_hours %>
    <%= f.input :doubletime_hours %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
