<h3>Your Confirmations</h3>

<table class="table table-striped table-hover table-condensed" style="font-size: x-small">
  <tr>
    <th>Number</th>
    <th>SO #</th>
    <th>Performed</th>
    <th>Travel</th>
    <th>Straight</th>
    <th>OT</th>
    <th>DT</th>
    <th>Description</th>
  </tr>

<% @confirmations.each do |confirmation| %>
  <tr>
    <td><%= link_to confirmation.number, confirmation, class: 'btn btn-primary btn-small' %></td>
    <td><%= link_to confirmation.service_order.number, confirmation.service_order %></td>
    <td><%= confirmation.performed_on.strftime("%d-%b-%y") %></td>
    <td><%= confirmation.travel_hours %></td>
    <td><%= confirmation.straight_hours %></td>
    <td><%= confirmation.overtime_hours %></td>
    <td><%= confirmation.doubletime_hours %></td>
    <td><%= confirmation.description %></td>
  </tr>
<% end %>
</table>
