<section id="confirmation-summary">
  <div class="page-header">
    <h3>Confirmation #<%= @confirmation.number %><h3>
  </div>

  <dl class="dl-horizontal">
    <dt>Service Order</dt>
    <dd><%= link_to @confirmation.service_order.number, @confirmation.service_order %></dd>

    <dt>User:</dt>
    <dd><%= @confirmation.user.full_name %></dd>

    <dt>Performed On</dt>
    <dd><%= @confirmation.performed_on.strftime("%b %e, %Y") %></dd>

    <dt>Total Hours</dt>
    <dd><%= @confirmation.total_hours %></dd>

    <dt>Travel hours:</dt>
    <dd><%= @confirmation.travel_hours %></dd>

    <dt>Straight hours:</dt>
    <dd><%= @confirmation.straight_hours %></dd>

    <dt>Overtime hours:</dt>
    <dd><%= @confirmation.overtime_hours %></dd>

    <dt>Doubletime hours:</dt>
    <dd><%= @confirmation.doubletime_hours %></dd>

    <dt>Description:</dt>
    <dd><%= @confirmation.description %>&nbsp;</dd>
  </dl>
</section>

<div class="form-actions">
  <%= link_to '<i class="icon-arrow-left icon-2x"></i>'.html_safe, :back, class: 'btn btn-graphic', 'data-toggle' => 'tooltip', title: 'Back' %>
  <%= link_to '<i class="icon-edit icon-2x"></i>'.html_safe, edit_confirmation_path(@confirmation), class: 'btn btn-warning btn-graphic', 'data-toggle' => 'tooltip', title: 'Edit' %>
  <%= link_to '<i class="icon-trash icon-2x"></i>'.html_safe, @confirmation, class: 'btn btn-danger btn-graphic', method: :delete, data: { confirm: 'Are you sure?' }, 'data-toggle' => 'tooltip', title: 'Delete' %>
</div>
