<section id="confirmation-summary">
  <div class="page-header">
    <h3>Confirmation #<%= @confirmation.number %><h3>
  </div>

  <dl class="dl-horizontal">
    <dt>Service Order</dt>
    <dd><%= @confirmation.service_order.number %></dd>

    <dt>User:</dt>
    <dd><%= @confirmation.user.full_name %></dd>

    <dt>Performed On</dt>
    <dd><%= @confirmation.performed_on.strftime("%b %e, %Y") %></dd>

    <dt>Total Hours</dt>
    <dd><%= @confirmation.total_hours %></dd>

    <dt>Travel hours:</dt>
    <dd><%= @confirmation.travel_hours %></dd>

    <dt>Straight hours:</dt>
    <dd><%= @confirmation.straight_hours %></dd>

    <dt>Overtime hours:</dt>
    <dd><%= @confirmation.overtime_hours %></dd>

    <dt>Doubletime hours:</dt>
    <dd><%= @confirmation.doubletime_hours %></dd>

    <dt>Description:</dt>
    <dd><%= @confirmation.description %>&nbsp;</dd>
  </dl>
</section>

<div class="form-actions">
  <%= link_to 'Edit', edit_confirmation_path(@confirmation), class: 'btn btn-warning' %>
  <%= link_to 'Destroy', @confirmation, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', :back, class: 'btn' %>
</div>
